body {
    
    font-family: "roboto";
    margin: 0;
}
.header {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    padding: 10px 0;
    

}
.logo {
    width: 50px;
    height: auto;
}
a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    font-weight: 1;
    margin-right: 10px;
}
a:last-child {
    margin-right: 0;
}
.darker {
    background-color: #1f2937;
    padding-bottom: 50px;
    
}
h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}
p.secondarytext {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 8px;
    flex: 1;
    display: flex;
    align-items: center;
}
.part2{
    display: flex;
    margin: 100px 100px;

}
.img{
    width: 200px;
    height: 300px;
}
button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: 200;
    color: white;
    border-radius: 8px;
    border: none;
    width: 100px;
    padding: 5px;
}
.left{
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

.white{
    background-color: white;
    text-align: center;
    margin: 40px 120px 100px 120px;
  
}
.img1,.img2,.img3,.img4{
    width: 120px;
    height: 120px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}
.imgs{
    display: flex;
    gap: 40px;
    justify-content: space-between;

}
.e1,.e2,.e3,.e4{
    text-align: center;
    max-width: 120px;
}
h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}
.description {
    font-size: 18px;
    color: #1f2937
}

.part3 {
    background-color: #e5e7eb;
    font-size: 36px;
}
.quote {
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
    padding: 100px 150px 5px 150px;
    margin: 0;
}
.name {
    font-size: 30px;
    font-weight: 800;
    text-align: right;
    padding: 0 150px 95px 0;
    margin: 0;

}

.part4 {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    margin: 50px 100px;
    border-radius: 6px;
}
.call {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    
}
.sign {
    color: #e5e7eb;
    font-weight: 100;
    margin: 0;
}
.b {
    border-color: #f9faf8;
    border-style: solid;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
   margin-right: 60px;


}
.w{
    padding: 30px 60px;
}











    
